@font-face {
    font-family: YoMamaHeader;
    src: url(https://cdn.jsdelivr.net/gh/Terry-BrooksJr/MindHealthCDN@c6715b28123debb772de65c5c4b2d41ca63e775e/fonts/RubikVinyl-Regular.ttf);
  }

  @font-face {
    font-family: YoMamaBody;
    src: url(https://cdn.jsdelivr.net/gh/Terry-BrooksJr/MindHealthCDN@1a2c14865a818cec1a0982dc0197d56106eb95a4/fonts/JuliusSansOne-Regular.ttf);
  }
  body {
   background-image: url("https://cdn.jsdelivr.net/gh/Terry-BrooksJr/MindHealthCDN@5781529605d5e009fd1f740a25f5a105a35e450e/images/background%20(1).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(130,142,152);
    font-family: "YoMamaBody";
  }
  main{
    height: 780px;
    width: 100%;
  }
  #yo-mama-brand {
    height: 100px;
    width: auto;
    margin-left 230px;
    float: left;
  }
  #yo-mama-dropdown{
    outline:0;
    border:0;
    background-color: transparent;
  }
  nav {
  background-color: rgb(130,142,152);
  }


  /* Modify the background color */
  .navbar-main {
      background-color: purple;
  }
  #joke{
    color: white;
  }

  .flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }

  .btn-primary {
    background-color: purple !important
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
      background-color: #BEDA00 !important
  }
  #dozens-image {
    margin-left: 130px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center

  }
  #bb-py-logo {
    height: 5%;
    width: 5%;
  }
